<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="lista-tareas" content="width=device-width, initial-scale=1.0">
    <title>Listador de Tareas</title>
    <link rel="stylesheet" href="../Statics/Styles/ListadorTareas.css">
</head>
<body>
    <h1>Listador de tareas</h1>
    <div class="container_botones">
        <button id="btnAgregar" class="bot mainbotones">Agregar Tarea</button>
        <button id="btnEliminar" class="bot mainbotones">Eliminar Tarea</button>
    </div>
    <hr>
    <div class="colores">
        <button id="color1" class="bot botones">!</button>
        <button id="color2" class="bot botones">ㅤ</button>
        <button id="color3" class="bot botones">ㅤ</button>
        <button id="color4" class="bot botones">ㅤ</button>
        <button id="color5" class="bot botones">ㅤ</button>
    </div>
    <hr>
    <section id="contenedorTareas">
    </section>
</body>
<script src="../Dynamics/js/ListadorTareas.js"></script>
</html>